<div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

        <div class="p-grid">
            <div class="p-col-12">
                <h1>Novo Lançamento</h1>
            </div>

            <div class="p-col-12">
                <p-selectButton [options]="tipos" [(ngModel)]="lancamento.tipo" #tipo></p-selectButton>
            </div>

            <div class="p-col-6 p-md-3 p-fluid">
                <label>Vencimento</label>
                <p-calendar name="vencimento" dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false" [(ngModel)]="lancamento.dataVencimento" ngModel #vencimento="ngModel" required></p-calendar>
                <app-message [control]="vencimento" error="required" text="Informe uma data de vencimento"></app-message>
            </div>

            <div class="p-col-6 p-md-3 p-fluid">
                <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
                <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="lancamento.dataPagamento" name="dataPagamento"></p-calendar>
            </div>

            <div class="p-col-12 p-md-9 p-fluid">
                <label>Descrição</label>
                <input pInputText type="text" name="descricao" ngModel #descricao="ngModel" [(ngModel)]="lancamento.descricao" required minlength="5">

                <app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>
                <app-message [control]="descricao" error="minlength" text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>
            </div>

            <div class="p-col-12 p-md-3 p-fluid">
                <label>Valor</label>
                <input pInputText type="text" name="valor" placeholder="0,00" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }" [(ngModel)]="lancamento.valor" required>
            </div>

            <div class="p-col-12 p-md-6 p-fluid">
                <label>Categoria</label>
                <p-dropdown [options]="categorias" placeholder="Selecione" [(ngModel)]="lancamento.categoria.codigo"></p-dropdown>
            </div>

            <div class="p-col-12 p-md-6 p-fluid">
                <label>Pessoa</label>
                <p-dropdown [options]="pessoas" placeholder="Selecione" [filter]="true" [(ngModel)]="lancamento.pessoa.codigo"></p-dropdown>
            </div>

            <div class="p-col-12 p-fluid">
                <label>Observação</label>
                <textarea pInputTextarea rows="3" [(ngModel)]="lancamento.observacao"></textarea>
            </div>

            <div class="p-col-12">
                <button pButton type="submit" label="Salvar" icon="pi pi-save" iconPos="left" [disabled]="f.invalid"></button>
                <button pButton type="button" label="Novo" icon="pi pi-file-o" iconPos="left" class="p-button-info"></button>

                <p-button tooltipPosition="bottom" pTooltip="pesquisa de lançamentos" label="Voltar" icon="pi pi-search" iconPos="left" routerLink="/lancamentos"></p-button>

            </div>
        </div>

    </form>
</div>