/* You can add global styles to this file, and also import other style files */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #404c51;
    margin: 0;
}

label {
    font-weight: bold;
    padding: 1px;
    margin: 2px;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        margin: 0 auto;
    }
}

@media (min-width: 40em) {
    .col-valor-header {
        width: 120px;
    }
    .col-valor {
        text-align: right !important;
    }
    .col-data-header {
        width: 120px;
    }
    .col-data {
        text-align: center !important;
    }
    .col-acoes-header {
        width: 115px;
    }
    .col-acoes {
        width: 115px;
        text-align: center !important;
    }
    .col-acoes .p-button {
        margin: 1px;
    }
}

.formulario {
    padding: 1px 1px;
    margin: 2px 2px;
}

.col-valor-header {
    width: 120px;
}

.col-valor-content {
    text-align: right;
}

.col-data-content {
    text-align: center;
}

.col-acoes-header {
    width: 115px;
}

.col-acoes {
    width: 115px;
    text-align: center !important;
}

.col-acoes button {
    padding-left: 2px;
}

.col-acoes a {
    text-decoration: none;
}

.a-btn {
    text-decoration: none;
    font-weight: bold;
}

.a-btn :hover {
    text-transform: uppercase;
}

.h-espaco {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.v-espaco {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.navbar {
    padding: 20px 10px;
    background-color: #1e94d2;
}

.navbar i {
    font-size: 2rem;
    color: #D8D8D8;
    font-weight: bold;
}