/* You can add global styles to this file, and also import other style files */
body{
  font-family: Arial, Helvetica, sans-serif;
  color: #404c51;
  margin: 0;
}

label {
  font-weight: bold;
  padding: 1px;
  margin: 2px;
}

@media (min-width: 1200px){
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.formulario {
  padding: 1px 1px;
  margin: 2px 2px;
}

.col-valor-header {
  width: 120px;
}

.col-valor-content {
  text-align: right;
}

.col-data-content {
  text-align: center;
}
